@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

.pageHeader {
    width: 100%;
    position: fixed;
    transition: 0.2s;
    box-shadow: 0 -1px 20px 5px #ccc;
    border-bottom: 1px solid #c4c4c4;
    background-color: white;
    color: #333;
}